    /* color scheme sourced from http://khroma.co/generator/ */
:root {
    --light: #DDC7E6;
    --dark: #1E1354;
    --midlight: #DC5579;
     --middark: #B60D37;
}
    
    /* set content highlight color and background */
::selection {
        background-color: var(--bright-turquoise);
        color: var(--outer-space);
}
    
* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}
    
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--dark);
  font-weight: bold;
  line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 30px;
}
  
h2 {
    font-size: 25px;
}
  
h3 {
    font-size: 20px;
}
  
p {
    margin-bottom: 1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background: var(--middark);
    color: var(--dark);
}
    
nav {
     display:flex;
     justify-content: flex-end;
}

nav a {
    color: var(--dark);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
    
header nav ul li {
        display: inline-block;
        font-size: 20px;
}

a {
    color:var(--dark);
}

p {
    font-size: 16px;
    color: var(--dark);
}

section {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 100%;
    background: var(--mid);
}

aside {

}

section header {
    background-color: var(--light);
    padding: 20px;
    color:var(--dark);
    text-align: center;
}

section img {
    height: 300px;
    width: auto;

}

section #my-work {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

footer {

    display: flex;
    justify-content: center;
    padding: 2%; 
    border: 10px solid var(--light);
    background-color: var(--light);
    text-align: center;
}

footer ul li {
    display: inline-block;
    font-size: 16px;
}

footer h2 {
    color: rgb(165, 85, 112);
}

  @media screen and (max-width: 768px) {
    main,
    nav,
    section {
      flex-direction: column;
    }
  }